/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
fonts
font-family: 'Neucha', cursive;
font-family: 'Open Sans', sans-serif;
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css?family=Neucha|Open+Sans');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
normalize css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
skeleton css framework
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --water: #134E5E;
  --mint: #71B280;
  --paste: #c3fad0;
  --cookbook: #ecebeb;
  --ash: #606060;
  --slate: #2a2a2a;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
main style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  width: 100vw;
  background: #134E5E;
  background: linear-gradient(to bottom right, var(--water), var(--mint));
  font-family: 'Open Sans', sans-serif;
}

a, a:hover {
  color: var(--cookbook);
  text-decoration: none;
}

hr {
  width: 7vw;
  border-color: var(--slate);
  margin: 0;
  margin-bottom: 5vmin;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 0;
}

textarea {
  resize: vertical;
}

.button-primary {
  margin-top: 2vmin;
}

.continaer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* nav bar
-------------------- */
.nav {
  height: 10vmin;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: var(--slate);
  color: var(--cookbook);
  position: fixed;
  z-index: 1;
}

.nav-left {
  width: 65vw;
}

.nav-right {
  width: 25vw;
}

.nav > ul {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.nav > .nav-right {
  justify-content: flex-end;
}

.nav > ul > li {
  margin: 0;
}

.nav > ul > li > a {
  border: 1px solid black;
  font-size: 2.3vmin;
  margin: 0.2vmin;
  padding: 2.7vmin 2vmin;
  transition: 600ms ease-out;
}

.nav > ul > li > a:hover {
  background: var(--cookbook);
  border: 1px solid white;
  color: var(--slate);
  transition: 400ms ease-in;
}

/* logo/brand
-------------------- */
.logo, .create, .recipes, .about, .contact {
  min-height: 90vh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family: 'Neucha', cursive;
  margin-top: 10vh;
}

.logo > img {
  filter: invert(100%);
}

.logo > h1, .logo > h2 {
  color: var(--slate);
  font-size: 15vmin;
  font-weight: bold;
  margin: 0;
}

.logo > h2 {
  color: var(--cookbook);
  font-size: 11vmin;
  font-weight: normal;
  margin-bottom: 10vh;
}
/* create
-------------------- */
.create {
  background: rgba(19, 78, 94, 0.17);
}

.create > h2 {
  margin-top: 10vh;
}

.create > form {
  max-width: 60vw;
  min-width: 60vw;
  margin-bottom: 10vh;
}


/* recipes
-------------------- */
.recipes {
  background: rgba(113, 179, 128, 0.23);
}

.recipes > h2 {
  margin-top: 10vh;
}

.recipes > ul {
  min-width: 60vw;
  max-width: 60vw;
  margin-bottom: 10vh;
}
.recipes > ul > li {
  /* align-items: center;
  display: flex;
  justify-content: space-between; */
  color: var(--cookbook);
  padding: 5vmin;
}

.recipes > ul > li:nth-child(even) {
  background: var(--slate);
  border-radius: 0 0 5vmin 5vmin;
}

.recipes > ul > li:nth-child(odd) {
  border-left: 0.5vmin solid var(--slate);
  border-right: 0.5vmin solid var(--slate);
  border-radius: 5vmin 5vmin 0 0;
}

.recipes > ul > li > span {
  float: right;
}

.recipes > ul > li > span > a, .recipes > ul > li > span > span {
  margin-left: 2vmin;
}

.edit > form, .show > div {
  margin-top: 5vmin;
}

.edit > div > p, .edit > div > img {
  padding: 6px 10px;
}

.edit > div > img {
  max-width: 95%;
}

.checkbox {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* about
-------------------- */
.about > h3 {
  margin-top: 10vh;
}
.about > p {
  max-width: 60vw;
  margin-bottom: 10vh;
  text-align: justify;
}

/* contact/footer
-------------------- */
.contact {
  min-height: 27vh;
  justify-content: flex-end;
  color: var(--cookbook);
  background: var(--slate);
}

.contact > h4 {
  margin-top: 10vh;
}

.contact > hr {
  border-color: var(--cookbook);
}
.contact > ul {
  margin-bottom: 10vh;
}

.contact > ul, .contact > ul > a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact > ul > li > a {
  font-size: 5.3vmin;
  margin: 2vmin;
}

.contact > ul > li > a:hover {
  color: var(--mint);
}